<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ajmalsyed.miwok">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/miwok3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".Miwok_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Numbers_Activity"
            android:label="Numbers_Activity"
            android:parentActivityName="com.example.ajmalsyed.miwok.Miwok_Activity"/>
        <activity android:name=".FamilyMembers_Activity"
            android:label="FamilyMembers_Activity"
            android:parentActivityName="com.example.ajmalsyed.miwok.Miwok_Activity"/>
        <activity android:name=".Colors_Activity"
            android:label="Colors_Activity"
            android:parentActivityName="com.example.ajmalsyed.miwok.Miwok_Activity"/>
        <activity android:name=".Phrases_Activity"
            android:label="Phrases_Activity"
            android:parentActivityName=".Miwok_Activity">

        </activity>
    </application>

</manifest>